.viewer {
  margin: auto;
  width: 512px;
  height: 512px;
  position: relative;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.dicom-info {
  text-align: center;
}

.crosshair {
  position: absolute;
}

.crosshair-x {
  height: 1px;
  width: 1000px;
  background-color: #f00;
}

.crosshair-y {
  height: 1000px;
  width: 1px;
  background-color: #0f0;
}
